@model AcademicAsile.entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2><b>Edit Category</b></h2>

<form method="post">
    <input type="hidden" name="ID" value="@Model.Id" />
    <br />
    <label>Name</label>
    <input name="Name" value="@Model.Name"/>
    <br />
    <label>Description </label>
    <input name="Description" value="@Model.Description"/>
    <br />
    <button type="submit">Submit</button>
</form>
